In [1]:
print(213456789823456789091234567893234567890987654323456789876543)

213456789823456789091234567893234567890987654323456789876543

In [2]:
print(4.2345678987654323456789)

4.234567898765432

In [3]:
print(True)

True

In [4]:
print(False)

False

In [7]:
print("Both double quotes!")

Both double quotes!

In [8]:
print('Both single quotes!')

Both single quotes!

In [10]:
print("This is not okay!')
      
# COMBINATION OF DOUBLE AND SINGLE QUOTE IS NOT ALLOWED!

SyntaxError: EOL while scanning string literal (2495642679.py, line 1)

In [11]:
print(4 + 6j)

(4+6j)

In [12]:
print(None)

None

In [13]:
print(type(5))

<class 'int'>

In [14]:
print(type(5.0))

<class 'float'>

In [15]:
print(type("What type am i?"))

<class 'str'>

In [16]:
print(type(false))

NameError: name 'false' is not defined

In [17]:
print(Type(True))

NameError: name 'Type' is not defined

In [18]:
print(type(True))

<class 'bool'>

In [19]:
print(type(6+4j))

<class 'complex'>

In [20]:
x = 5 # Defining a variable

In [21]:
print(x)

5

In [22]:
print(type(x))

<class 'int'>

In [23]:
y = "the variable can be any value!"

In [24]:
print(y)

the variable can be any value!

In [31]:
# There are 2 rules to creating variables in Python
# 1. Variable name can only start with alphabets or _ (underscore)
# 2. After the start, you can have any alphabet, number or _ in the name

In [32]:
random = 123

In [33]:
Random = 123

In [34]:
_random = 123

In [35]:
123random = 123 # a number can't be the starting of a variable

SyntaxError: invalid syntax (4121362097.py, line 1)

In [36]:
random123 = 123

In [37]:
random_123 = 123

In [38]:
Random_something_123 = 123

In [39]:
random@123 = 123

SyntaxError: cannot assign to operator (1126065821.py, line 1)

In [41]:
print(56,6.7,"random",True)

56 6.7 random True

In [42]:
print(56,"+",6.7,"+","random","+",True)

56 + 6.7 + random + True

In [44]:
print(56, 6.7, "random", True, sep = "+")

56+6.7+random+True

In [45]:
print(56, 6.7, "random", True, sep = "     ")

56     6.7     random     True

In [46]:
print(56, 6.7, "random", True, sep = "__+__")

56__+__6.7__+__random__+__True

In [47]:
print(56, 6.7, "random", True, sep = "!RANDOM!")

56!RANDOM!6.7!RANDOM!random!RANDOM!True

In [48]:
print(56, 6.7, "random", True, sep = "")

566.7randomTrue

In [50]:
print("line 1") # the default end character after print is \n -> Enter / Next Line
print("line 2")
print("line 3")

line 1
line 2
line 3

In [53]:
print("line 1", end = " - ")
print("line 2") # This still ends with a \n
print("line 3")

line 1 - line 2
line 3

In [54]:
print(1, 2, 3, sep = "+", end = "THIS IS THE END!")
print(4, 5, sep = "_")

1+2+3THIS IS THE END!4_5

In [55]:
# DEFAULT VALUES
# sep - " "
# end - "\n"

In [56]:
print(1, 2, 3, 4, 5, sep = "\n")

1
2
3
4
5

In [57]:
x = 12345

In [58]:
y = x

In [59]:
print(x)

12345

In [60]:
print(y)

12345

In [61]:
# TAKING USER INPUTS!

In [63]:
any_variable_name = input()

this is a user input!

In [66]:
print(type(any_variable_name))

<class 'str'>

In [64]:
print(any_variable_name)

this is a user input!

In [65]:
num1 = input()

12345

In [67]:
print(type(num1))

<class 'str'>

In [68]:
num1 = input()
num2 = input()

print(num1 + num2)

10
15
1015

In [70]:
print("10" + "15")

1015

In [71]:
x = "12345"

In [72]:
x_int = int(x)

In [73]:
print(type(x_int))

<class 'int'>

In [74]:
x_float = float(x)

In [75]:
print(type(x_float))

<class 'float'>

In [76]:
print(x_float)

12345.0

In [77]:
x = 12345

In [80]:
anything_random = str(x)

In [81]:
print(type(anything_random))

<class 'str'>

In [82]:
num1 = int(input())
num2 = int(input())

print(num1 + num2)

10
15
25

In [83]:
num1 = int(input())
num2 = int(input())

print(num1 + num2)

this is not an int!

ValueError: invalid literal for int() with base 10: 'this is not an int!'

In [84]:
num1 = int(input("Please enter a valid integer - "))
num2 = int(input("Please enter a valid integer - "))

print(num1 + num2)

Please enter a valid integer - 15
Please enter a valid integer - 10
25

In [85]:
x = input()

whatever I provide is printed as well!

# OPERATORS

In [86]:
# ARITHMETIC OPERATORS!

In [87]:
print(10 + 5)

15

In [88]:
print(10 - 5)

5

In [89]:
print(10 * 5)

50

In [92]:
print(10 / 5) # Special -> Result is always float!

2.0

In [93]:
print(10.0 + 5)

15.0

In [94]:
print(10 / 3)

3.3333333333333335

In [99]:
# HOMEWORK!
# There are 3 more interesting arithmetic operators in Python
# exponentiation (**), floored division (//), modulus (%)

In [100]:
x = 56.0

In [101]:
print(int(x))

56