In [1]:
# CRUD -> CREATE, READ, UPDATE, DELETE

In [3]:
# CREATE

runs_virat = [67, 54, 12, 34, 77, 89, 101, 92]

# The list can theoritically be infinitely sized - PYTHON HAS NO LIMIT ON LIST SIZE!

In [4]:
runs_virat

[67, 54, 12, 34, 77, 89, 101, 92]

In [5]:
type(runs_virat)

list

In [6]:
# READ
# Values are accessible using indexes which start at 0

In [7]:
runs_virat[0] # Runs scored in the first match - 0th index

67

In [8]:
runs_virat[4] # Runs scored in the 5th match - 4th index

77

In [9]:
len(runs_virat) # number of elements inside a list

8

In [10]:
# HOW WOULD YOU GET THE RUNS SCORED IN THE LAST MATCH?

In [11]:
runs_virat

[67, 54, 12, 34, 77, 89, 101, 92]

In [14]:
n = len(runs_virat)

runs_virat[n - 1] # last element

92

In [15]:
runs_virat[len(runs_virat) - 1]

92

In [16]:
runs_virat[n - 2]

101

In [17]:
# NEGATIVE INDEXING

In [19]:
runs_virat[-1]

92

In [20]:
runs_virat[-2]

101

In [22]:
runs_virat[-n] # n here is the length as calculated above!

67

In [23]:
runs_virat[100000] # These many elements are not present

IndexError: list index out of range

In [24]:
runs_virat

[67, 54, 12, 34, 77, 89, 101, 92]

In [25]:
# UPDATE

In [26]:
# Adding elements to the list

In [27]:
# 1. Append

runs_virat.append(123)

In [28]:
runs_virat

[67, 54, 12, 34, 77, 89, 101, 92, 123]

In [29]:
runs_virat = runs_virat + 45

TypeError: can only concatenate list (not "int") to list

In [30]:
runs_virat = runs_virat + [45]

In [33]:
runs_virat # The above operation is similar to a append operation

[67, 54, 12, 34, 77, 89, 101, 92, 123, 45]

In [34]:
# 2. Insert

In [35]:
# list.insert(index, value)

In [36]:
runs_virat.insert(2, 55)

In [37]:
runs_virat

[67, 54, 55, 12, 34, 77, 89, 101, 92, 123, 45]

In [38]:
# 3. Extend

In [39]:
runs_virat.extend([15, 19, 88])

In [40]:
runs_virat

[67, 54, 55, 12, 34, 77, 89, 101, 92, 123, 45, 15, 19, 88]

In [44]:
runs_virat += [1, 2, 3]

In [45]:
runs_virat # The above operation is similar to the extend operation

[67, 54, 55, 12, 34, 77, 89, 101, 92, 123, 45, 15, 19, 88, 1, 2, 3, 1, 2, 3]

In [46]:
'''
list.append(value) -> Add one value at the end of the list
    - list += [value]
    
list.insert(index, value) -> Add one value at the specified index in the list

list.extend([value1, value2, value3...]) -> Add multiple values at the end of the list
    - list += [value1, value2, value3...]
'''

'\nlist.append(value) -> Add one value at the end of the list\n    - list += [value]\n    \nlist.insert(index, value) -> Add one value at the specified index in the list\n\nlist.extend([value1, value2, value3...]) -> Add multiple values at the end of the list\n    - list += [value1, value2, value3...]\n'

In [47]:
# Iteration on Lists

In [48]:
a = "python"

for i in a:
    print(i)

p
y
t
h
o
n

In [49]:
a = [10, 20, 30, 40, 50, 60]

In [51]:
# TRAVERSAL METHOD 1 -> Directly traverse over the elements
for i in a:
    print(i)

10
20
30
40
50
60

In [53]:
# TRAVERSAL METHOD 2 -> Using indexes
for i in range(len(a)):
    print(i, "->",a[i])

0 -> 10
1 -> 20
2 -> 30
3 -> 40
4 -> 50
5 -> 60

In [55]:
# TRAVERSAL METHOD 3 -> Also possible using while loops

i = 0

while i < len(a):
    print(a[i])
    i += 1

10
20
30
40
50
60

In [56]:
'''
Qustion 1 - 
runs_virat = [67, 54, 12, 34, 77, 89, 101, 112]

In runs_virat -> Calculate, sum, avg, max and min runs.
Without using any internal functions.
'''

'\nQustion 1 - \nruns_virat = [67, 54, 12, 34, 77, 89, 101]\n\nIn runs_virat -> Calculate, sum, avg, max and min runs.\nWithout using any internal functions.\n'

In [57]:
def custom_len(a):
    count = 0
    
    for i in a:
        count += 1
    
    return count

In [58]:
runs = [67, 54, 12, 34, 77, 89, 101, 112]

In [64]:
len_runs = custom_len(runs)

In [65]:
len_runs

8

In [61]:
def custom_sum(a):
    SUM = 0
    
    for i in a:
        SUM += i
        
    return SUM

In [66]:
sum_runs = custom_sum(runs)

In [67]:
sum_runs

546

In [63]:
custom_sum([1,2,3])

6

In [68]:
avg_runs = sum_runs / len_runs

In [69]:
avg_runs

68.25

In [73]:
def custom_max(a):
    MAX = a[0]
    
    for i in range(1, len_runs):
        if a[i] > MAX:
            MAX = a[i]
            
    return MAX

In [74]:
max_runs = custom_max(runs)

In [75]:
max_runs

112

In [76]:
def custom_min(a):
    MIN = a[0]
    
    for i in range(1, len(a)):
        if a[i] < MIN:
            MIN = a[i]
            
    return MIN

In [77]:
min_runs = custom_min(runs)

In [78]:
min_runs

12

In [79]:
len(runs)

8

In [80]:
sum(runs)

546

In [81]:
sum(runs) / len(runs)

68.25

In [82]:
max(runs)

112

In [83]:
min(runs)

12

In [84]:
# LISTS ARE MUTABLE

In [85]:
a = [1,2,3,4,5]

In [86]:
a[0] = 10

In [87]:
a

[10, 2, 3, 4, 5]

In [88]:
# DELETE

In [89]:
a = [10, 20, 30, 40, 50, 60]

In [90]:
# 1. Delete by index -> list.pop(index)

In [91]:
a.pop(2)

30

In [92]:
a

[10, 20, 40, 50, 60]

In [93]:
a.pop() # Automatically deletes the last element

60

In [94]:
a

[10, 20, 40, 50]

In [95]:
# 2. Delete by value -> list.remove(value)

In [97]:
a = [10, 20, 30, 40, 50, 60]

In [98]:
a.remove(40)

In [99]:
a

[10, 20, 30, 50, 60]

In [100]:
a.remove(100)

ValueError: list.remove(x): x not in list

In [101]:
a = [10, 20, 30, 40, 50, 40, 60, 40]

In [104]:
a.remove(40) # remove only deletes the first instance of a repeated value

In [103]:
a

[10, 20, 30, 50, 40, 60, 40]

In [107]:
50 in a # MEMBERSHIP OPERATOR

True

In [106]:
100 in a

False

In [114]:
# ITERATION 1 -> Remove All

def remove_all_1(a, target):
    while True:
        if target in a:
            a.remove(target)
            continue
        
        break
        
    return a

In [115]:
a = [10, 20, 30, 40, 50, 40, 60, 40]

In [116]:
remove_all_1(a, 40)

[10, 20, 30, 50, 60]

In [117]:
# ITERATION 2 -> Remove All

def remove_all_2(a, target):
    while True:
        if target not in a:
            break
            
        a.remove(target)
        
    return a

In [118]:
a = [10, 20, 30, 40, 50, 40, 60, 40]

In [119]:
remove_all_2(a, 40)

[10, 20, 30, 50, 60]

In [120]:
# ITERATION 3 -> Remove All

def remove_all_3(a, target):
    while target in a:
        a.remove(target)
        
    return a

In [121]:
a = [10, 20, 30, 40, 50, 40, 60, 40]

In [122]:
remove_all_3(a, 40)

[10, 20, 30, 50, 60]

In [123]:
# LISTS ARE HETEROGENEOUS

In [125]:
a = ["bipin", 4.5, -9, True, [1,2,3,4]] # VALID LIST

In [129]:
a[-1]

[1, 2, 3, 4]

In [127]:
a[0]

'bipin'