In [1]:
a = "double quotes!"

In [2]:
b = 'single quotes!'

In [3]:
c = '''triple quotes! -> DOCSTRINGS'''

In [5]:
d = """triple double quotes! -> DOCSTRINGS"""

In [9]:
type(d)

str

In [10]:
randoom = "Whatever we write, UPPERCASE, lowercase, 12345678908765432@#$%^&*(*&^%$#@#$%^)"

In [11]:
randoom

'Whatever we write, UPPERCASE, lowercase, 12345678908765432@#$%^&*(*&^%$#@#$%^)'

In [13]:
random = "a' # Mixed quotations are not allowed

SyntaxError: EOL while scanning string literal (4111874266.py, line 1)

In [14]:
# What if your string itself contains quotes inside it

y = "something "random" which is highlight!"

# If you want to use double quotes inside a string
# -> Use single quotes to form the string!
# And vice versa

SyntaxError: invalid syntax (3829515004.py, line 3)

In [19]:
y = 'something "random" which is highlighted!'

In [20]:
y

'something "random" which is highlighted!'

In [21]:
z = "something 'random' which is highlighted!"

In [22]:
z

"something 'random' which is highlighted!"

In [23]:
a = 'can't' # THIS HAS A LOT OF ISSUES!

SyntaxError: invalid syntax (3506376244.py, line 1)

In [24]:
a = 'can\'t' # Escape character

In [25]:
a

"can't"

In [34]:
random = "this string is \"random\" which can't work properly without \"escape characters!\""

In [35]:
random

'this string is "random" which can\'t work properly without "escape characters!"'

In [37]:
"zebra" > "aaaaaahgfshjfgjhchsdudadhgafgdadaajdghdja"
# LEXICOGRAPHICAL - Order in a dictionary

True

In [39]:
"abc" > "agh"

False

In [40]:
# This comparison is enabled via mapping in programming!

In [42]:
"a" > "A" # THIS IS BECAUSE OF ASCII!

True

In [43]:
"zebra" > "ZEBRA"

True

In [44]:
"random1" + "random2" # Concatenation

'random1random2'

In [45]:
"random" * 2 * 3

'randomrandomrandomrandomrandomrandom'

In [46]:
def calc_area(l, b):
    a = l * b
    print("length =", l, ", breadth =", b, ", Area =", a)

In [48]:
calc_area(10, 5)

lenth = 10 , breadth = 5 , Area = 50

In [51]:
def calc_area(l, b):
    a = l * b
    print("length = {}, breadth = {}, area = {}".format(l, a, b))

In [53]:
calc_area(10, 5) # Position is important!

length = 10, breadth = 50, area = 5

In [54]:
def calc_area(l, b):
    a = l * b
    print("length = {2}, breadth = {0}, area = {1}".format(b, a, l))

In [55]:
calc_area(10, 5)

length = 10, breadth = 5, area = 50

In [56]:
def calc_area(l, b):
    a = l * b
    print(f"length = {l}, breadth = {b}, area = {a}")

In [57]:
calc_area(10, 5)

length = 10, breadth = 5, area = 50

In [68]:
s1 = "The Undertaker"
s2 = "Kane"

In [69]:
s3 = f"{s1} v/s {s2}"

In [70]:
s3

'The Undertaker v/s Kane'

In [71]:
ord("a") # Corresponding ASCII (mapping) value

97

In [72]:
ord("z")

122

In [74]:
ord("A")

65

In [75]:
ord("%")

37

In [76]:
ord("0")

48

In [79]:
chr(97) # Corresponding character acc to mapping

'a'

In [80]:
chr(66)

'B'

In [81]:
'''
Question 1 -
1. Take a string as input from the user.
2. Print the string character by character in new lines.

INPUT - VIRAT
OUTPUT -
V
I
R
A
T
'''

'\nQuestion 1 -\n1. Take a string as input from the user.\n2. Print the string character by character in new lines.\n\nINPUT - VIRAT\nOUTPUT -\nV\nI\nR\nA\nT\n'

In [83]:
a = input()

for i in a: # Strings are iterable
    print(i)

VIRAT
V
I
R
A
T

In [84]:
'''
Question 2 -
1. Take a string as input from the user.
2. Print the following - 
"First Character - f, Last Character - l"
'''

'\nQuestion 2 -\n1. Take a string as input from the user.\n2. Print the following - \n"First Character - f, Last Character - l"\n'

In [85]:
a = input()

print(f"First Character - {a[0]}, Last Character - {a[-1]}")

Bhupendra
First Character - B, Last Character - a

In [86]:
a

'Bhupendra'

In [87]:
a[4]

'e'

In [88]:
a[-5]

'e'

In [89]:
a[2:5]

'upe'

In [90]:
'''
Question 3 -
1. Take a string as input from the user.
2. Check whether that string is a palindrome.
   Create a function which returns "PALINDROME" if true otherwise "NOT A PALINDROME."
'''

'\nQuestion 3 -\n1. Take a string as input from the user.\n2. Check whether that string is a palindrome.\n   Create a function which returns "PALINDROME" if true otherwise "NOT A PALINDROME."\n'

In [91]:
"Naman" == "namaN"

False

In [92]:
a = "This IS RAndom!"

In [93]:
a.lower()

'this is random!'

In [94]:
a

'This IS RAndom!'

In [97]:
ord("a") - ord("A")

32

In [98]:
ord("b") - ord("B")

32

In [101]:
chr(ord("Z") + 32)

'z'

In [102]:
def lower_case(a):
    result = ""
    
    for i in a:
        if i >= "A" and i <= "Z":
            result += chr(ord(i) + 32)
        else:
            result += i
            
    return result

In [103]:
a

'This IS RAndom!'

In [104]:
lower_case(a)

'this is random!'

In [106]:
"YAYYY!" if 56 > 67 else "NAYYYY!"
# value_if_true if condition else value_if_false

'NAYYYY!'

In [107]:
def check_palindrome(a):
    a = lower_case(a)
    
    return "PALINDROME!" if a == a[::-1] else "NOT A PALINDROME!"

In [110]:
check_palindrome("karthik")

'NOT A PALINDROME!'

In [111]:
'''
Question 4 -
1. Take a string as input from the user.
2. Print the count of uppercase characters in that string. (alphabets)

INPUT - "This is a Random%^&*()"
OUTPUT - 2
'''

'\nQuestion 4 -\n1. Take a string as input from the user.\n2. Print the count of uppercase characters in that string. (alphabets)\n\nINPUT - "This is a Random%^&*()"\nOUTPUT - 2\n'

In [119]:
def count_upper_case(a):
    count = 0
    
    for i in a:
        if i >= "A" and i <= "Z":
            count += 1
            
    return count

In [121]:
count_upper_case("This is a RANDOM strinG!")

8

In [122]:
'''
Question 5 -
1. You are given a list as input to a function.
2. Generate a string from the chr values of the integers in the list.

INPUT = [65, 97, 68]
OUTPUT = "AaD"

EXPLANATION - 
"A" -> 65
"a" -> 97
"D" -> 68
'''

'\nQuestion 5 -\n1. You are given a list as input to a function.\n2. Generate a string from the chr values of the integers in the list.\n\nINPUT = [65, 97, 68]\nOUTPUT = "AaD"\n\nEXPLANATION - \n"A" -> 65\n"a" -> 97\n"D" -> 68\n'

In [123]:
a = [80, 89, 84, 72, 79, 78, 128013]

In [124]:
def generate_string(a):
    s = ""
    
    for i in a:
        s += chr(i)
        
    return s

In [125]:
generate_string(a)

'PYTHON🐍'