In [1]:
a = input()

12345

In [2]:
a

'12345'

In [4]:
def covert_to_word_form(a):
    word_form = ""
    
    for i in a:
        if i == "0":
            word_form.append("zero")
            continue
        
        if i == "1":
            word_form.append("one")
            continue
        
        # DO THIS FOR EVERY SINGLE DIGIT
        
    return word_form

In [5]:
"0678"

'0678'

In [6]:
a = [1, 2, 3, 4, 5]

product = 1

for i in a:
     product *= i
        
print(product)

120

In [10]:
a = [1, 2, 3, 4, 5]

x = 3
y = 10

In [11]:
a.insert(x - 1, y)

In [12]:
a

[1, 2, 10, 3, 4, 5]

In [13]:
# CASE -> n based indexing

In [14]:
a = list(range(1,21))

In [15]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [16]:
x = 10
y = 100
n = 5

In [17]:
a.insert(x - n, y)

In [18]:
a

[1, 2, 3, 4, 5, 100, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [19]:
a

[1, 2, 3, 4, 5, 100, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [21]:
sum_even = 0
sum_odd = 0

for i in a:
    if i % 2 == 0:
        sum_even += i
    else:
        sum_odd += i

In [22]:
sum_even

210

In [23]:
sum_odd

100

In [26]:
a = [[1,2,3],[0,4,5],[1,0,6]] # Upper Triangular Matrix

In [27]:
rows = len(a)
columns = len(a[0])

upper_triangular = True

for i in range(rows):
    for j in range(columns):
        if i > j and a[i][j] != 0:
            upper_triangular = False
            
print(upper_triangular)

False

In [28]:
a = [2, 0, 1] # len = 3 -> indexes -> 0, 1, 2
# Elements will also be 0, 1, 2 but rearranged!

# -> At index 0, we have element 2 -> At index 2, place element 0
# -> At index 1, we have element 0 -> At index 0, place element 1
# -> At index 2, we have element 1 -> At index 1, place element 2

In [29]:
[0]*5

[0, 0, 0, 0, 0]

In [32]:
def inverse_list(a):
    inverse_a = [0] * len(a)
    
    for i in range(len(a)):
        inverse_a[a[i]] = i
        
    return inverse_a

In [33]:
inverse_list([2,0,1])

[1, 2, 0]

In [36]:
def difference_max_min(a):
    MAX = a[0]
    MIN = a[0]
    
    for i in a:
        if i > MAX:
            MAX = i
        elif i < MIN:
            MIN = i
            
    return MAX - MIN

In [37]:
difference_max_min([0,5,6,10,2,-1,3,9,8,12])

13

In [38]:
a = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]
]

In [39]:
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [41]:
rows = len(a)
columns = len(a[0])
    
transpose = [ [ 0 for i in range(rows) ] for i in range(columns) ]

In [42]:
transpose

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [46]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

def matrix_transpose(a):
    rows = len(a)
    columns = len(a[0])
    
    transpose = [ [ 0 for i in range(rows) ] for i in range(columns) ]
    
    for i in range(columns):
        for j in range(rows):
            transpose[i][j] = a[j][i]
            
    return transpose

result = matrix_transpose(a)

In [47]:
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [49]:
result = matrix_transpose(a)

In [50]:
result

[[1, 4, 7, 10], [2, 5, 8, 11], [3, 6, 9, 12]]

In [51]:
def max_each_row(matrix):
    rows = len(matrix)
    columns = len(matrix[0])
    
    for i in range(rows):
        print(f"Going over row {i} -")
        max_row = matrix[i][0]
        
        for j in range(columns):
            print(f"\tGoing over element {matrix[i][j]} and comparing with current max {max_row}")
            
            if matrix[i][j] > max_row:
                max_row = matrix[i][j]
        
        print(f"Max of row {i} = {max_row}")
        print("-"*25)

In [52]:
max_each_row(result)

Going over row 0 -
	Going over element 1 and comparing with current max 1
	Going over element 4 and comparing with current max 1
	Going over element 7 and comparing with current max 4
	Going over element 10 and comparing with current max 7
Max of row 0 = 10
-------------------------
Going over row 1 -
	Going over element 2 and comparing with current max 2
	Going over element 5 and comparing with current max 2
	Going over element 8 and comparing with current max 5
	Going over element 11 and comparing with current max 8
Max of row 1 = 11
-------------------------
Going over row 2 -
	Going over element 3 and comparing with current max 3
	Going over element 6 and comparing with current max 3
	Going over element 9 and comparing with current max 6
	Going over element 12 and comparing with current max 9
Max of row 2 = 12
-------------------------