In [1]:
for i in range(2, 5):
    print(i)

2
3
4

In [3]:
for i in range(3):
    print(i)
    
# AUTOMATICALLY sets start as 0
# 3 becomes end value

0
1
2

In [4]:
range(0, 3) == range(3)

True

In [6]:
range(0.7, 8.7) # only integers are allowed

TypeError: 'float' object cannot be interpreted as an integer

In [7]:
range(1, 8, 0.5) # even jump can't be float

TypeError: 'float' object cannot be interpreted as an integer

In [9]:
range(1, 7, 0) # step size can't be zero

ValueError: range() arg 3 must not be zero

In [11]:
len(range(1, 8))

7

In [12]:
len(range(1, 9, 2))

4

In [13]:
'''
Question 1 - 
Print all integers from 1 to N using for loop. (N to be included)
Take N as input from the user.
'''

'\nQuestion 1 - \nPrint all integers from 1 to N using for loop. (N to be included)\nTake N as input from the user.\n'

In [14]:
N = int(input())

for i in range(1, N + 1):
    print(i, end = " ")

10
1 2 3 4 5 6 7 8 9 10

In [15]:
'''
Question 2 - 
Take N as input from the user.
Calculate the sum of all numbers from 1 to N (N is included).
'''

'\nQuestion 2 - \nTake N as input from the user.\nCalculate the sum of all numbers from 1 to N (N is included).\n'

In [16]:
N = int(input())

final_sum = 0

for value in range(1, N + 1):
    final_sum += value
    
print("The final sum is -", final_sum)

10
The final sum is - 55

In [17]:
'''
Question 3 - 
FACTORIAL ->
Take N an input from the user.
Calculate the product of all numbers from 1 to N (N is included).
'''

'\nQuestion 3 - \nFACTORIAL ->\nTake N an input from the user.\nCalculate the product of all numbers from 1 to N (N is included).\n'

In [19]:
N = int(input())

factorial = 1

for i in range(2, N + 1):
    factorial *= i
    
print(factorial)

5
120

In [20]:
'''
N = 3

factorial = 1

Iteration 1 ->
    -> i = 1
    -> factorial *= 1 -> 1*1 -> 1

Iteration 2 ->
    -> i = 2
    -> factorial *= 2 -> 1*2 -> 2
    
Iteration 3 ->
    -> i = 3
    -> factorial *= 3 -> 2*3 -> 6
'''

'\nN = 3\n\nfactorial = 1\n\nIteration 1 ->\n    -> i = 1\n    -> factorial *= 1 -> 1*1 -> 1\n\nIteration 2 ->\n    -> i = 2\n    -> factorial *= 2 -> 1*2 -> 2\n    \nIteration 3 ->\n    -> i = 3\n    -> factorial *= 3 -> 2*3 -> 6\n'

In [21]:
'''
Question 4 - 
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.
'''

'\nQuestion 4 - \nTake N as input from the user.\nCalculate the product of all even numbers between 1 and N. Both included.\n'

In [24]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

In [25]:
N = int(input())

even_product = 1

for i in range(2, N + 1, 2):
    even_product *= i
    
print(even_product)

7
48

In [27]:
# NOT THE BEST SOLUTION

N = int(input())

even_product = 1

for i in range(1, N + 1):
    if i % 2 == 0:
        even_product *= i
    
print(even_product)

# NOT THE BEST SOLUTION

7
48

In [28]:
'''
Question 5 - 
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included.

GIVEN - Both start and end will be greater than 0.
'''

'\nQuestion 5 - \nTake start and end as input from the user.\nCalculate the product of all even numbers between start and end.\nBoth included.\n\nGIVEN - Both start and end will be greater than 0.\n'

In [32]:
# SOLUTION 1

start = int(input("START - "))
end = int(input("END - "))

even_product = 1

for i in range(start, end + 1):
    if i % 2 == 0:
        even_product *= i
        
print(even_product)
print("Number of steps -", len(range(start, end + 1)))

START - 2
END - 9
384
Number of steps - 8

In [33]:
# SOLUTION 1

start = int(input("START - "))
end = int(input("END - "))

even_product = 1

if start % 2 != 0:
    start += 1

for i in range(start, end + 1, 2):
    even_product *= i
        
print(even_product)
print("Number of steps -", len(range(start, end + 1, 2)))

START - 2
END - 9
384
Number of steps - 4

In [34]:
'''
Question 6 -
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given
'''

'\nQuestion 6 -\nPrint all the numbers from an input N to 1 in reverse order.\nN > 1 -> Given\n'

In [35]:
N = int(input())

for i in range(N, 0, -1):
    print(i, end = " ")

9
9 8 7 6 5 4 3 2 1

In [36]:
'''
Question 7 -
Print all the numbers from an input N to 1 in reverse order.
Without using a negative jump!
N > 1 -> Given
'''

'\nQuestion 7 -\nPrint all the numbers from an input N to 1 in reverse order.\nWithout using a negative jump!\nN > 1 -> Given\n'

In [37]:
# Solution 1

N = int(input()) # 5

for i in range(N): # 0 1 2 3 4
    print(N - i, end = " ") # 5 4 3 2 1

5
5 4 3 2 1

In [39]:
# Solution 2

N = int(input()) # 5

for i in range(-N, 0): # -5 -4 -3 -2 -1
    print(-i, end = " ") # 5 4 3 2 1

5
5 4 3 2 1

In [45]:
start = int(input("START - "))
end = int(input("END - "))

for i in range(end, start):
    print(start + end - i)

START - 10
END - 5
10
9
8
7
6