In [1]:
print("Dust all the rooms!")
print("Arrange the living area!")
print("Go out and get cold drinks and chips!")
print("Take out the fancy dinner set!")
print("Touch their feet when you see them!")

Dust all the rooms!
Arrange the living area!
Go out and get cold drinks and chips!
Take out the fancy dinner set!
Touch their feet when you see them!

In [2]:
print("Dust all the rooms!")
print("Arrange the living area!")
print("Go out and get cold drinks and chips!")
print("Take out the fancy dinner set!")
print("Touch their feet when you see them!")

Dust all the rooms!
Arrange the living area!
Go out and get cold drinks and chips!
Take out the fancy dinner set!
Touch their feet when you see them!

In [3]:
print("Dust all the rooms!")
print("Arrange the living area!")
print("Go out and get cold drinks and chips!")
print("Take out the fancy dinner set!")
print("Touch their feet when you see them!")

Dust all the rooms!
Arrange the living area!
Go out and get cold drinks and chips!
Take out the fancy dinner set!
Touch their feet when you see them!

In [4]:
# FUNCTION DEFINITION -> "def" is the keyword

def prepare_for_guests():
    print("Dust all the rooms!")
    print("Arrange the living area!")
    print("Go out and get cold drinks and chips!")
    print("Take out the fancy dinner set!")
    print("Touch their feet when you see them!")

In [5]:
prepare_for_guests()

Dust all the rooms!
Arrange the living area!
Go out and get cold drinks and chips!
Take out the fancy dinner set!
Touch their feet when you see them!

In [6]:
prepare_for_guests()

Dust all the rooms!
Arrange the living area!
Go out and get cold drinks and chips!
Take out the fancy dinner set!
Touch their feet when you see them!

In [7]:
prepare_for_guests()

Dust all the rooms!
Arrange the living area!
Go out and get cold drinks and chips!
Take out the fancy dinner set!
Touch their feet when you see them!

In [8]:
def sheldon_knock():
    print("knock knock knock Penny!")
    print("knock knock knock Penny!")
    print("knock knock knock Penny!")

In [9]:
sheldon_knock()

knock knock knock Penny!
knock knock knock Penny!
knock knock knock Penny!

In [13]:
# FUNCTIONS CAN ACCEPT ARGUMENTS!

def sheldon_knock(name):
    print("knock knock knock", name)
    print("knock knock knock", name)
    print("knock knock knock", name)

In [14]:
sheldon_knock("Swapnil")

knock knock knock Swapnil
knock knock knock Swapnil
knock knock knock Swapnil

In [15]:
sheldon_knock("Deepak")

knock knock knock Deepak
knock knock knock Deepak
knock knock knock Deepak

In [16]:
student = "Vijaylaxmi"

In [17]:
sheldon_knock(student)

knock knock knock Vijaylaxmi
knock knock knock Vijaylaxmi
knock knock knock Vijaylaxmi

In [18]:
a = None
b = "Random"

In [19]:
a = b

In [20]:
a

'Random'

In [21]:
user_input = input()

Akash

In [22]:
user_input

'Akash'

In [23]:
sheldon_knock(user_input)

knock knock knock Akash
knock knock knock Akash
knock knock knock Akash

In [24]:
'''
Question 1 - 
Take a name as input.
Write a greeter function which prints, "Hello, <name> :)"
after accepting name as an argument.
'''

'\nQuestion 1 - \nTake a name as input.\nWrite a greeter function which prints, "Hello, <name> :)"\nafter accepting name as an argument.\n'

In [25]:
def greeter(name):
    print("Hello", name, ":)")

In [27]:
user_input = input()

greeter(user_input)

Kunal
Hello Kunal :)

In [28]:
# A FUNCTION CAN ACCEPT MULTIPLE ARGUMENTS!

In [31]:
def introduce_family(father, mother, sibling, myself):
    print("Father's Name -", father)
    print("Mother's Name -", mother)
    print("Sibling's Name -", sibling)
    print("My Name -", myself)

In [32]:
introduce_family("Brad Pitt", "Angelina Jolie", "Stormi", "Bipin Kalra")

Father's Name - Brad Pitt
Mother's Name - Angelina Jolie
Sibling's Name - Stormi
My Name - Bipin Kalra

In [33]:
introduce_family("Angelina Jolie", "Brad Pitt", "Stormi", "Bipin Kalra")

Father's Name - Angelina Jolie
Mother's Name - Brad Pitt
Sibling's Name - Stormi
My Name - Bipin Kalra

In [34]:
introduce_family("A", "B", "C")

TypeError: introduce_family() missing 1 required positional argument: 'myself'

In [35]:
introduce_family("A", "B", "C", "D", "E")

TypeError: introduce_family() takes 4 positional arguments but 5 were given

In [36]:
s1 = 'this string uses single quotes!'

In [41]:
s2 = "this string uses double quotes!"

In [42]:
s3 = '''this is a special string that uses triple single quotes! -> DOCSTRING'''

In [43]:
'''
This string
            maintains white spaces
            
            
            which
        include tabs, spaces and newline characters!
'''

'\nThis string\n            maintains white spaces\n            \n            \n            which\n        include tabs, spaces and newline characters!\n'

In [44]:
def random(a, b):
    '''
    This function takes two arguments -
    a and b can be of any type
    
    Output - Prints both the arguments separated by a space.
    '''
    
    print(a, b)

In [45]:
help(random)

Help on function random in module __main__:

random(a, b)
    This function takes two arguments -
    a and b can be of any type

    Output - Prints both the arguments separated by a space.

In [49]:
# help(print)

In [50]:
4 + 5

9

In [51]:
"string1" + "string2"

'string1string2'

In [52]:
"string" + 1

TypeError: can only concatenate str (not "int") to str

In [53]:
def add_two(a, b):
    '''
    Arguments - 
    a: Number or String
    b: Number or String
    
    Note - Please do not enter mixed data types i.e. both a and b should be of the same type.
    
    Output - 
    String + String -> Concatenation
    Number + Number -> Addition
    '''
    
    result = a + b
    print(result)

In [54]:
help(add_two)

Help on function add_two in module __main__:

add_two(a, b)
    Arguments -
    a: Number or String
    b: Number or String

    Note - Please do not enter mixed data types i.e. both a and b should be of the same type.

    Output -
    String + String -> Concatenation
    Number + Number -> Addition

In [55]:
def add_two_numbers(a, b):
    print(a + b)

In [56]:
add_two_numbers(10, 5)

15

In [57]:
result = add_two_numbers(10, 5)

15

In [59]:
print(result)

None

In [60]:
def add_two_numbers(a, b):
    return a + b

In [61]:
result = add_two_numbers(10, 5)

In [62]:
print(result)

15

In [63]:
def add_two_numbers_with_print(a, b):
    print(a + b)
    
def add_two_numbers_with_return(a, b):
    return a + b

In [64]:
add_two_numbers_with_print(10, 5)

15

In [65]:
add_two_numbers_with_return(10, 5)

15

In [66]:
def add_two_numbers_with_both(a, b):
    value = a + b
    
    print(value)
    return value

In [68]:
result = add_two_numbers_with_both(10, 5)

15

In [69]:
print(result)

15

In [70]:
def random():
    print("CODE BEFORE RETURN!")
    return 1
    print("CODE AFTER RETURN!")

In [71]:
random()

CODE BEFORE RETURN!

1

In [72]:
def introduce_family(father, mother, sibling, myself):
    print("Father's Name -", father)
    print("Mother's Name -", mother)
    print("Sibling's Name -", sibling)
    print("My Name -", myself)

In [73]:
introduce_family("Angelina Jolie", "Brad Pitt", "Stormi", "Bipin Kalra")

Father's Name - Angelina Jolie
Mother's Name - Brad Pitt
Sibling's Name - Stormi
My Name - Bipin Kalra

In [74]:
# KEYWORDED ARGUMENTS!
introduce_family(myself = "Bipin Kalra", father = "Brad Pitt", mother = "Angelina Jolie", sibling = "Stormi")

Father's Name - Brad Pitt
Mother's Name - Angelina Jolie
Sibling's Name - Stormi
My Name - Bipin Kalra

In [76]:
# Just another way of writing the same
introduce_family(
    myself = "Bipin Kalra",
    father = "Brad Pitt",
    mother = "Angelina Jolie",
    sibling = "Stormi"
)

Father's Name - Brad Pitt
Mother's Name - Angelina Jolie
Sibling's Name - Stormi
My Name - Bipin Kalra

In [77]:
def random(a, b, c, d):
    print("a ->", a)
    print("b ->", b)
    print("c ->", c)
    print("d ->", d)

In [78]:
random(b = 6, c = 7, d = 8, 9)

SyntaxError: positional argument follows keyword argument (4058565175.py, line 1)

In [79]:
random(9, 7, d = 6, c = 5)

a -> 9
b -> 7
c -> 5
d -> 6

In [80]:
# POSITIONAL followed by KEYWORD -> OK
# KEYWORDED followed by POSITIONAL -> NOT ALLOWED!

In [81]:
random(9, 7, b = 8, d = 7)

TypeError: random() got multiple values for argument 'b'

In [82]:
'''
THIS IS A DOCSTRING!
'''

'\nTHIS IS A DOCSTRING!\n'

In [83]:
"""
THIS IS ALSO A DOCSTRING!
"""

'\nTHIS IS ALSO A DOCSTRING!\n'