# TUPLES

In [1]:
a = [1, 2, 3, 4]

In [2]:
a.append(5)

In [3]:
a

[1, 2, 3, 4, 5]

In [4]:
# The size of the list is not fixed

In [5]:
a[0] = 1.0

In [6]:
a

[1.0, 2, 3, 4, 5]

In [7]:
# List elements are not fixed either

In [9]:
# DEFINING A TUPLE - Use paranthesis
a = (1, 2, 3, 4)

In [10]:
a.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
a.remove(4)

AttributeError: 'tuple' object has no attribute 'remove'

In [12]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [13]:
a = tuple(range(1, 11))

In [14]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [15]:
a[6]

7

In [16]:
a[-1]

10

In [17]:
a[3:7]

(4, 5, 6, 7)

In [18]:
for i in a:
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [19]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [20]:
type(a)

tuple

In [25]:
l = []

In [26]:
type(l)

list

In [27]:
t = ()

In [28]:
type(t)

tuple

In [29]:
l = [1]

In [30]:
type(l)

list

In [31]:
t = (1)

In [32]:
type(t)

int

In [34]:
t = ((45 + 56) * 2) // 3 # paranthesis are used to build mathematical equations

In [35]:
t = (1,) # This extra comma tells python that it is a tuple

In [36]:
type(t)

tuple

In [37]:
t

(1,)

In [39]:
for i in t:
    print(i)

1

In [40]:
a = [1, 2, 3, 4, 5]

In [41]:
tuple(a)

(1, 2, 3, 4, 5)

In [42]:
t1 = (1,2,3)
t2 = (4,5,6)

In [43]:
id(t1)

140628798051136

In [44]:
id(t2)

140628239723136

In [45]:
t3 = t1 + t2

In [46]:
t3

(1, 2, 3, 4, 5, 6)

In [47]:
id(t3)

140628798017152

In [48]:
'''
Question 1 - 
What will be the output of the following?
(4) + (1,2,3)
'''

'\nQuestion 1 - \nWhat will be the output of the following?\n(4) + (1,2,3)\n'

In [49]:
(4) + (1,2,3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [50]:
'''
Question 2 - 
What will be the output of the following?
type(("random?"))
'''

'\nQuestion 2 - \nWhat will be the output of the following?\ntype(("random?"))\n'

In [51]:
type(("random?"))

str

In [52]:
type(("random?",))

tuple

In [53]:
'''
Question 3 - 
Given an input string, write code to generate a list of all its characters.

INPUT - "abc"
OUTPUT - ["a", "b", "c"]
'''

'\nQuestion 3 - \nGiven an input string, write code to generate a list of all its characters.\n\nINPUT - "abc"\nOUTPUT - ["a", "b", "c"]\n'

In [54]:
def convert_to_list(string):
    result = []
    
    for i in string:
        result.append(i)
        
    return result

In [55]:
convert_to_list("random")

['r', 'a', 'n', 'd', 'o', 'm']

In [56]:
list("random")

['r', 'a', 'n', 'd', 'o', 'm']

In [57]:
tuple("random")

('r', 'a', 'n', 'd', 'o', 'm')

In [58]:
str(["a","b","c"])

"['a', 'b', 'c']"

In [59]:
# PACKING AND UNPACKING!

In [60]:
a = (1, 2, 3)

In [61]:
x, y, z = a # UNPACKING tuple a into variables x, y and z

In [63]:
x

1

In [64]:
y

2

In [65]:
z

3

In [68]:
x, y = a

# THERE IS A SOLUTION TO THIS WHICH WE WILL LEARN IN "ADVANCE PYTHON"

ValueError: too many values to unpack (expected 2)

In [69]:
w, x, y, z = a

ValueError: not enough values to unpack (expected 4, got 3)

In [70]:
def foo():
    return 100, 200, 300 # PACKING all three values into a tuple

In [71]:
a = foo()

In [72]:
a

(100, 200, 300)

In [73]:
x, y, z = foo() # PACKING AND UNPACKING together

In [74]:
x

100

In [75]:
y

200

In [76]:
z

300

In [78]:
a = [(1, "Bipin"), (2, "Dasari"), (3, "Franklin"), (4, "Gaurav"), (5, "Mamta"), (6, "Siddhant")]

In [79]:
for i in a:
    print(i)

(1, 'Bipin')
(2, 'Dasari')
(3, 'Franklin')
(4, 'Gaurav')
(5, 'Mamta')
(6, 'Siddhant')

In [80]:
for i in a:
    print(f"Roll Number - {i[0]}, Name - {i[1]}")

Roll Number - 1, Name - Bipin
Roll Number - 2, Name - Dasari
Roll Number - 3, Name - Franklin
Roll Number - 4, Name - Gaurav
Roll Number - 5, Name - Mamta
Roll Number - 6, Name - Siddhant

In [81]:
for roll, name in a:
    print(f"Roll Number - {roll}, Name - {name}")

Roll Number - 1, Name - Bipin
Roll Number - 2, Name - Dasari
Roll Number - 3, Name - Franklin
Roll Number - 4, Name - Gaurav
Roll Number - 5, Name - Mamta
Roll Number - 6, Name - Siddhant

In [82]:
'''
Question 4 -
Write code to swap two variable values using a third variable.
'''

'\nQuestion 4 -\nWrite code to swap two variable values using a third variable.\n'

In [83]:
a = 10
b = 20

In [84]:
temp = a
a = b
b = temp

In [85]:
a

20

In [86]:
b

10

In [87]:
a = 10
b = 20

In [88]:
a, b = b, a # SWAPPING IN PYTHON!

In [89]:
a

20

In [90]:
b

10

In [91]:
'''
Question 5 -
What will be the output of the following - 
a = 1,2,3,4,5
'''

'\nQuestion 5 -\nWhat will be the output of the following - \na = 1,2,3,4,5\n'

In [92]:
a = 1, 2, 3, 4, 5

In [93]:
a

(1, 2, 3, 4, 5)

In [94]:
t = ("string", 5, 5.6, True, (1,2,3), [1,2,3]) # HETEROGENEOUS!

In [95]:
t

('string', 5, 5.6, True, (1, 2, 3), [1, 2, 3])

# SETS

In [96]:
# SETS ARE A COLLECTION OF UNIQUE VALUES

In [97]:
a = {1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,6,7,7,7,7,8,8,9,9}

In [98]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [99]:
a[0]

TypeError: 'set' object is not subscriptable

In [100]:
a = {}

In [101]:
type(a)

dict

In [102]:
a = set() # ONLY WAY TO CREATE AN EMPTY SET!

In [103]:
a = {4, 3, 1, 2, 7}

In [104]:
a

{1, 2, 3, 4, 7}

In [105]:
a = {1, 2, 3}

In [106]:
a.add(5)

In [107]:
a

{1, 2, 3, 5}

In [108]:
a.remove(3)

In [109]:
a

{1, 2, 5}

In [110]:
a.update([1,2,3,4,4,5,5,6,6,8,9,0,10])

In [111]:
a

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10}

In [112]:
l = [1, 2, 3, 4, 5]

In [113]:
t = tuple(l)

In [114]:
t

(1, 2, 3, 4, 5)

In [115]:
s = set(l)

In [116]:
s

{1, 2, 3, 4, 5}

In [117]:
t1 = tuple(s)

In [118]:
t1

(1, 2, 3, 4, 5)

In [119]:
'''
Question 6 - 
Take a string as input.
Print the number of unique characters present inside that string.

"aabbcccd" -> 4
'''

'\nQuestion 6 - \nTake a string as input.\nPrint the number of unique characters present inside that string.\n\n"aabbcccd" -> 4\n'

In [120]:
a = "this is a random string with very random randomness!"

In [121]:
set(a)

{' ',
 '!',
 'a',
 'd',
 'e',
 'g',
 'h',
 'i',
 'm',
 'n',
 'o',
 'r',
 's',
 't',
 'v',
 'w',
 'y'}

In [123]:
len(set(a)) # COMPLETE SOLUTION!

17

In [124]:
s1 = {2, 3, 4}
s2 = {1, 2, 4, 5, 6}

In [125]:
s1.intersection(s2)

{2, 4}

In [126]:
s1 & s2

{2, 4}

In [127]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [128]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [129]:
s1.difference(s2)

{3}

In [130]:
s1 - s2

{3}

In [131]:
s1.symmetric_difference(s2)

{1, 3, 5, 6}

In [132]:
s1 ^ s2

{1, 3, 5, 6}

In [133]:
# HASHING -> We will learn about this in future!
# Dictionaries and Sets use this concept.

In [134]:
# Sets can't contain mutable datatypes
# Sets can have everything but -> lists, dictionaries, sets

In [135]:
a = {1, "string", 4.5, True, (1,2,3)}

In [136]:
type(a)

set

In [137]:
a = {1, "string", 4.5, True, [1,2,3]}

TypeError: unhashable type: 'list'