In [1]:
s = {"bipin", 12, 34, 56, "random"}

In [2]:
s

{12, 34, 56, 'bipin', 'random'}

In [6]:
d = {
    "key1" : "value1",
    "key2" : "value2",
    "key3" : "value3"
}

# For keys, we will only use strings for a while - SECOND HALF OF LECTURE
# For values, we can use anything!

In [7]:
# Approach 1 -> List of tuples
state_wise_data = [("Delhi", 15), ("Haryana", 35), ("UP", 100)]

In [9]:
state_wise_data[0][1]

15

In [11]:
# Approach 2 -> Dictionary
state_wise_data = {
    "Delhi" : 15,
    "Haryana" : 35,
    "UP" : 100
}

In [15]:
state_wise_data[0]

# Similar to sets, dictionaries are not subscriptable via numerical indexes
# They can be indexed via keys!

KeyError: 0

In [13]:
state_wise_data["Delhi"]

15

In [14]:
state_wise_data["Haryana"]

35

In [16]:
state_wise_data.Delhi

AttributeError: 'dict' object has no attribute 'Delhi'

In [17]:
a = {}

In [18]:
type(a)

dict

In [19]:
# KEYS ARE ALWAYS UNIQUE

In [22]:
a = {
    "Delhi" : 15,
    "Delhi" : 10,
    "Delhi" : 30,
    "Haryana" : 36,
    "UP" : 100,
    "Delhi" : 20
}

In [23]:
a

{'Delhi': 20, 'Haryana': 36, 'UP': 100}

In [24]:
# Keys will never be repeated
# The last or latest value that is provided will be kept!

In [25]:
# ADDING MORE KEY VALUE PAIRS

In [26]:
a["Maharashtra"] = 80

In [27]:
a

{'Delhi': 20, 'Haryana': 36, 'UP': 100, 'Maharashtra': 80}

In [28]:
a["Delhi"]

20

In [29]:
a["delhi"] = 35

In [30]:
a

{'Delhi': 20, 'Haryana': 36, 'UP': 100, 'Maharashtra': 80, 'delhi': 35}

In [31]:
Avenger = {
    "name" : "Thor",
    "age" : 1500,
    "weapon" : ["Stormbreaker, Mjolnir"]
}

In [32]:
Avenger.update({
    "name" : "Thor Odinson",
    "weapon" : ["Stormbreaker"],
    "strongest?" : True,
    "eyes" : 1
})

In [33]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['Stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [34]:
random = {
    "a" : 1,
    "b" : 2,
    "c" : 3,
    "d" : None
}

In [35]:
random["b"]

2

In [36]:
random["e"]

KeyError: 'e'

In [37]:
# GET FUNCTION

In [38]:
result = random.get("e")

In [40]:
print(result) # Returns None instead of throwing an error!

None

In [41]:
random.get("b")

2

In [42]:
random.get("e", "NOT FOUND!")

'NOT FOUND!'

In [43]:
random.get("b", "NOT FOUND!")

2

In [44]:
random

{'a': 1, 'b': 2, 'c': 3, 'd': None}

In [45]:
random.pop("d") # provide the key as argument

In [46]:
random

{'a': 1, 'b': 2, 'c': 3}

In [47]:
random.pop("a")

1

In [48]:
random

{'b': 2, 'c': 3}

In [49]:
random.pop()

TypeError: pop expected at least 1 argument, got 0

In [50]:
'''
Question 1 - 
Given two dictionaries A and B, 
Write a python program to merge these dictionaries.

Example -
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

Result = {
    "a" : 4,
    "b" : 1,
    "c" : 6,
    "d" : 20
}
'''

'\nQuestion 1 - \nGiven two dictionaries A and B, \nWrite a python program to merge these dictionaries.\n\nExample -\nA = {\n    "a" : 4,\n    "b" : 5,\n    "c" : 6\n}\n\nB = {\n    "b" : 1,\n    "d" : 20\n}\n\nResult = {\n    "a" : 4,\n    "b" : 1,\n    "c" : 6,\n    "d" : 20\n}\n'

In [51]:
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

In [52]:
A.update(B)

In [53]:
A

{'a': 4, 'b': 1, 'c': 6, 'd': 20}

In [59]:
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

In [60]:
random = {1,2,3} | {3,4,5}

In [61]:
random

{1, 2, 3, 4, 5}

In [62]:
result = A | B # Union in dictionaries

In [63]:
result

{'a': 4, 'b': 1, 'c': 6, 'd': 20}

In [64]:
result = { **A, **B } # Spread Operator

In [65]:
result

{'a': 4, 'b': 1, 'c': 6, 'd': 20}

In [66]:
# ITERATION IN A DICTIONARY

In [69]:
a = Avenger

In [70]:
a

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['Stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [72]:
for i in a: # by default it iterates over the keys
    print(i)

name
age
weapon
strongest?
eyes

In [73]:
for i in a: # to go over the values
    print(a[i])

Thor Odinson
1500
['Stormbreaker']
True
1

In [74]:
for i in a:
    print(f"{i} -> {a[i]}")

name -> Thor Odinson
age -> 1500
weapon -> ['Stormbreaker']
strongest? -> True
eyes -> 1

In [75]:
list(a.keys())

['name', 'age', 'weapon', 'strongest?', 'eyes']

In [76]:
list(a.values())

['Thor Odinson', 1500, ['Stormbreaker'], True, 1]

In [77]:
list(a.items())

[('name', 'Thor Odinson'),
 ('age', 1500),
 ('weapon', ['Stormbreaker']),
 ('strongest?', True),
 ('eyes', 1)]

In [78]:
for i in a.keys():
    print(i)

name
age
weapon
strongest?
eyes

In [79]:
for i in a.values():
    print(i)

Thor Odinson
1500
['Stormbreaker']
True
1

In [80]:
for i in a.items():
    print(i)

('name', 'Thor Odinson')
('age', 1500)
('weapon', ['Stormbreaker'])
('strongest?', True)
('eyes', 1)

In [82]:
for key, value in a.items():
    print(f"{key} -> {value}")

name -> Thor Odinson
age -> 1500
weapon -> ['Stormbreaker']
strongest? -> True
eyes -> 1

In [83]:
# random(a) / a.random()

In [84]:
"strongest?" in a

True

In [85]:
"RANDOM" in a

False

In [86]:
'''
Question 2 - 
1. Take a string as input.
2. Create a dictionary acc to the following criteria - 
- There will be one key value pair for each unique character - 
- Key will be character and value will be the count of character inside the string

INPUT - "rrsssstttt"
OUTPUT -
{
    "r": 2,
    "s": 4,
    "t": 4
}
'''

'\nQuestion 2 - \n1. Take a string as input.\n2. Create a dictionary acc to the following criteria - \n- There will be one key value pair for each unique character - \n- Key will be character and value will be the count of character inside the string\n\nINPUT - "rrsssstttt"\nOUTPUT -\n{\n    "r": 2,\n    "s": 4,\n    "t": 4\n}\n'

In [105]:
def character_count(a):
    result = {}
    num_of_iterations = 0
    
    for i in a:
        num_of_iterations += 1
        
        if i in result:
            result[i] += 1
        else:
            result[i] = 1
            
    print(f"TOTAL NUMBER OF ITERATIONS - {num_of_iterations}")
            
    return result

In [106]:
character_count("rrsssstttt")

TOTAL NUMBER OF ITERATIONS - 10

{'r': 2, 's': 4, 't': 4}

In [90]:
a = "rrsssstttt"

In [92]:
a.count("s")

4

In [95]:
def custom_count(a, target):
    count = 0
    num_of_iterations = 0
    
    for i in a:
        num_of_iterations += 1
        if i == target:
            count += 1
            
    return count, num_of_iterations

In [100]:
def character_count_2(a):
    unique_chars = set(a)
    result = {}
    
    total_num_of_iterations = 0
    
    for i in unique_chars:
        total_num_of_iterations += 1
        
        count, num_of_iterations = custom_count(a, i)
        print(f"Number of Iterations - {num_of_iterations}")
        result[i] = count
        
        total_num_of_iterations += num_of_iterations
        
    print("TOTAL NUMBER OF ITERATIONS -", total_num_of_iterations)
        
    return result

In [101]:
character_count_2("rrsssstttt")

Number of Iterations - 10
Number of Iterations - 10
Number of Iterations - 10
TOTAL NUMBER OF ITERATIONS - 33

{'s': 4, 'r': 2, 't': 4}

In [107]:
'''
HETEROGENEITY ->
    - Keys -> Any immutable data structure (Everything other than lists, sets and dictionaries)
    - Values -> Any Python Object
'''

'\nHETEROGENEITY ->\n    - Keys -> Any immutable data structure (Everything other than lists, sets and dictionaries)\n    - Values -> Any Python Object\n'

In [108]:
random = {
    "key1" : [1,2,3],
    "key2" : {
        (1,2,3) : 45
    },
    45 : "num1",
    45.6 : {1,2,3,4},
    True: 12
}

In [109]:
random = {
    "key1" : [1,2,3],
    "key2" : {
        [1,2,3] : 45 # List used as key here -> NOT ALLOWED!
    },
    45 : "num1",
    45.6 : {1,2,3,4},
    True: 12
}

TypeError: unhashable type: 'list'